<div class="wrapper row2">
    <div id="container" class="clear">
      <!-- ####################################################################################################### -->
      <!-- ####################################################################################################### -->
      <!-- ####################################################################################################### -->
      <!-- ####################################################################################################### -->
      <section id="fof" class="clear">
        <!-- ####################################################################################################### -->
        <div class="hgroup">
          <h1><span><strong>4</strong></span><span><strong>0</strong></span><span><strong>4</strong></span></h1>
          <h2> Error ! <span>Página no encontrada</span></h2>
        </div>
        <p>Por alguna razón la pagina a la que intentas acceder no se encuentra en nuestro servidor</p>
        <p><a href="javascript:history.go(-1)">&laquo; Página Anterior</a> / <a href="#">Ir Al Inicio &raquo;</a></p>
        <!-- ####################################################################################################### -->
      </section>
      <!-- ####################################################################################################### -->
      <!-- ####################################################################################################### -->
      <!-- ####################################################################################################### -->
      <!-- ####################################################################################################### -->
    </div>
  </div>