<div class="container d-flex justify-content-center">
  <div class="row form-block">
    <div class="col">
      <div class="text-center">
          <img src="../assets/img/logo.png" alt="Instituto Domina" class="img-fluid" style="width: 280px; height: 280px">
          <form class="form form-login" ngNativeValidate  #formLogin="ngForm"  (ngSubmit)="ingresar( formLogin )">
            <fieldset>
              <div class="form-group">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                  <input [ngModel]="email" name="email" placeholder="E-mail" class="form-control" required="" type="email">
                </div>
              </div>
              <div class="form-group">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-key"></i></span>
                  <input class="form-control" type="password" ngModel name="pass" placeholder="Contraseña" id="password" required/>
                </div>
              </div>
              <div class="form-group">
                <a href="#" data-toggle="modal" data-target="#modalPass">Olvidó su contraseña?</a>
              </div>
              <div class="form-group">
                <input class="btn btn-lg btn-primary btn-block" value="Ingresar" type="submit">
              </div>
            </fieldset>
          </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modalPass" tabindex="-1" role="dialog" aria-labelledby="modalPass" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="text-center">
                  <h3><i class="fa fa-lock fa-4x"></i></h3>
                  <h2 class="text-center">Olvidó su constraseña?</h2>
                  <p>Puede cambiar su contraseña con el siguiente formulario.</p>
                  <form class="form" ngNativeValidate  #formReset="ngForm"  (ngSubmit)="sendEmail( formReset )">
                    <fieldset>
                      <div class="form-group">
                        <div class="input-group">
                          <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                          <input id="emailInput" ngModel name="emailReset" placeholder="E-mail" class="form-control" required="" type="email">
                        </div>
                      </div>
                      <div class="form-group">
                        <input class="btn btn-lg btn-primary btn-block" value="Enviar las instrucciones" type="submit">
                      </div>
                    </fieldset>
                  </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



