<!--<div class="form-login">
  <form ngNativeValidate  #f="ngForm"  (ngSubmit)="ingresar( f )">
    <div class="login-block">
        <img src="../assets/img/logo.png" alt="" class="img-fluid">
        <input [ngModel]="email" name="email" type="email" placeholder="E-mail" id="username" required />
        <input type="password" ngModel name="pass" placeholder="Contraseña" id="password" required/>
        <a href="#">Olvidó su contraseña?</a>
        <button type="submit">Ingresar</button>
    </div>
  </form>
</div>-->

<div class="container d-flex justify-content-center">
  <div class="row form-block">
    <div class="col">
      <div class="text-center">
          <h3><i class="fa fa-lock fa-4x"></i></h3>
          <h2 class="text-center">Forgot Password?</h2>
          <p>You can reset your password here.</p>
          <form class="form">
            <fieldset>
              <div class="form-group">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                  <input id="emailInput" placeholder="email address" class="form-control" oninvalid="setCustomValidity('Please enter a valid email address!')" onchange="try{setCustomValidity('')}catch(e){}" required="" type="email">
                </div>
              </div>
              <div class="form-group">
                <input class="btn btn-lg btn-primary btn-block" value="Send My Password" type="submit">
              </div>
            </fieldset>
          </form>
      </div>
    </div>
  </div>
</div>


