<div class="row">
  <div class="col">
        <div class="row" >
            <div class="col">
               
            </div>
        </div>
    <form (keydown.enter)="$event.preventDefault()" (ngSubmit)="saveUser()" #forma="ngForm">
      <div class="row">
          <div class="col-md-6 col-sm-12">
              <div class="form-group">
                <label for="txtNombre"><b>Nombre</b></label>
                <input [(ngModel)] = "this._usuario.nombre"
                      name ="nombre"
                      type="text"
                      class="form-control"
                      id="txtNombre"
                      placeholder="Ingrese el nombre"
                      autocomplete="given-name"
                      required>
              </div>
          </div>
          <div class="col-md-6 col-sm-12">
              <div class="form-group">
                <label for="txtApellido"><b>Apellido</b></label>
                <input [(ngModel)] = "this._usuario.apellido"
                      name ="apellido"
                      type="text"
                      class="form-control"
                      id="txtApellido"
                      placeholder="Ingrese el apellido"
                      autocomplete="family-name"
                      required>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="form-group">
              <label for="txtApellido"><b>E-mail</b></label>
              <input [(ngModel)] = "this._usuario.email"
                    name ="email"
                    type="email"
                    class="form-control"
                    id="txtEmail"
                    placeholder="Ingrese el e-mail"
                    autocomplete="email"
                    required>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 mt-4" >
            <button type="button" 
                    class="btn btn-outline-warning mt-2" 
                    *ngIf="!this.nuevo" 
                    (click)="resetPass()">
                    <i class="fa fa-key" aria-hidden="true"></i>  
                    Resetear clave
            </button>
        </div>
    </div>
    <div class="row ">
        <div class="col col-md-6 col-sm-12 "> 
            <div class="form-group">
                <label for="sRole"><b>Tipo de usuario</b></label>
                <select [(ngModel)]="_usuario.role" name="role" id="sRole" class="form-control">
                    <option value="USER">Usuario Normal</option>
                    <option value="ADMIN">Administrador</option>
                </select>  
            </div>
        </div>
        <div class="col-md-6 col-sm-12 mt-4" *ngIf="_usuario?.fechaBaja === null; else activeUser" >
                <button type="button" 
                        class="btn btn-outline-danger mt-2" 
                        *ngIf="!this.nuevo" 
                        (click)="setLowDate()">
                        Dar de baja usuario&nbsp;
                        <i class="fa fa-user-times" aria-hidden="true"></i> 
                </button>
        </div>
        <ng-template #activeUser>
                <div class="col-md-6 col-sm-12 mt-4">
                    <button type="button" 
                            class="btn btn-outline-primary mt-2" 
                            *ngIf="!this.nuevo" 
                            (click)="setLowDate()">
                            Activar usuario&nbsp;
                            <i class="fa fa-user-plus" aria-hidden="true"></i> 
                    </button>
                </div>
        </ng-template>
    </div>
    <hr>
    <button type="submit" class="btn btn-primary float-right"><i class="fa fa-floppy-o" aria-hidden="true"></i> Guardar Usuario</button>
    </form>
  </div>
</div>

<!-- public nombre: string,
    public apellido: string,
    public email: string,
    public pass: string,
    public role: string,
    public fechaAlta: string,
    public fechaBaja: string -->