<div class="row">
    <div class="col-md-12 text-right">
      <button [routerLink]="['../usuario','nuevo']" class="btn btn-outline-success" type="button" name="button" title="Nuevo Usuario">
        <i class="fa fa-plus-circle" aria-hidden="true"></i> Nuevo Usuario
      </button>
    </div>
  </div>
  <br>

  <ng-template #noResults>
    <div class="row" *ngIf="loading == false; else load" >
      <div class="col">
        <div class="alert alert-info text-center " role="alert">
          <h5><i class="fa fa-info-circle" aria-hidden="true"></i> No existen usuarios!</h5>
        </div>
      </div>
    </div>
    <ng-template #load>
      <div class="row">
          <div class="col text-center mt-2">
              <img src="../../../assets/img/loader.gif" class="img-fluid" width="80px" height=80px alt="Cargando..">
          </div>
      </div>
    </ng-template>
  </ng-template>
  
  <div *ngIf="this._usuarios?.length > 0; else noResults" class="row">
    <div class="col-md-12 scrolly-table">
      <div  class= "table-responsive text-center">
        <table class="table table-striped">
          <thead class="thead-dark">
            <tr>
              <th >#</th>
              <th >Nombre</th>
              <th >Apellido</th>
              <th >E-mail</th>
              <th >Rol</th>
              <th >Fecha Alta</th>
              <th >Fecha Baja</th>
              <th >Opciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let usuario of this._usuarios ; let i = index">
              <td scope="row">{{ i + 1 }}</td>
              <td>{{ usuario.nombre }}</td>
              <td>{{ usuario.apellido }}</td>
              <td>{{ usuario.email }}</td>
              <td>{{ usuario.role }}</td>
              <td>{{ usuario.fechaAlta }}</td>
              <td>{{ usuario.fechaBaja }}</td>
              <td>
                <button [routerLink]="['../usuario', usuario._id ]"
                        type="button" class="btn btn-outline-info"
                        title="Editar"
                        style="width: 50px">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                      </button>
                <button type="button" class="btn btn-outline-warning"
                        title="Resetear contraseña"
                        (click)="resetPass(i)"
                        style="width: 50px">
                        <i class="fa fa-key" aria-hidden="true"></i>
                </button>
                <button type="button" class="btn btn-outline-danger" *ngIf="usuario.fechaBaja == null; else activeUser"
                        title="Dar de baja"
                        (click)="setLowDate(i)"
                        style="width: 50px">
                        <i class="fa fa-user-times" aria-hidden="true"></i>
                </button>
                <ng-template #activeUser>
                    <button type="button" class="btn btn-outline-primary"
                        title="Activar"
                        (click)="setLowDate(i)"
                        style="width: 50px">
                        <i class="fa fa-user-plus" aria-hidden="true"></i>
                    </button>
                </ng-template>  
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  