<div class="row">
  <div class="col">
    <form ngNativeValidate #forma="ngForm" (keydown.enter)="$event.preventDefault()" (ngSubmit)="submitInforme()">
      <div class="row">
        <div class="col">
          <h2><i class="fa fa-file-text-o" aria-hidden="true"></i> {{ _informe?.detalle?.nombre }}</h2>
        </div>
      </div>
      <hr class="sombraL">
      <div class="form-group row">
        <div class="col-md-8">
          <h6><label for="txtMedicoS"><i class="fa fa-building" aria-hidden="true"></i> Institucion</label></h6>
          <select class="form-control" id="selectIns" (change)="setInst($event.target.value)">
            <option value= "seleccionar">Seleccione una institución</option>
            <option *ngFor="let institucion of _usuario?.instituciones; let i = index" 
                    [value]="institucion.nombre" 
                    [selected]="institucion.nombre === _informe?.institucion" >{{ institucion.nombre }}</option>
          </select>
        </div>
        <div class="col-md-4 col-sm-12 text-center" >
          <div>
            <img class="img-responsive"  src="{{ _informe?.logo | url }}"  style="width: 100px; height: 100"/>
          </div>
        </div>
      </div>
      <div class="form-group">
        <h6><label for="txtMedicoS"><i class="fa fa-user-md" aria-hidden="true"></i> Medico Solicitante</label></h6>
        <input id="txtMedicoS" [(ngModel)]="_informe.medico" name="medicoNombre" type="text" class="form-control" placeholder="Ingrese el nombre del medico solicitante" required>
      </div>
      <div class="form-group">
        <h6><label for="txtPaciente"><i class="fa fa-user" aria-hidden="true"></i> Paciente</label></h6>
        <input id="txtPaciente" [(ngModel)]="_informe.paciente" name="pacienteNombre" type="text" class="form-control" placeholder="Ingrese el nombre del paciente" required>
      </div>
      <div class="form-group">
        <h6><label for="txtFecha"><i class="fa fa-calendar" aria-hidden="true"></i> Fecha</label></h6>
        <input type="text" [(ngModel)]="_informe.fecha" class="form-control" name="fecha" id="txtFecha" required>
      </div>
      
      <hr class="sombra">
      <div class="form-group" *ngFor="let item of _informe?.detalle?.items; let itemIndex = index">
          <h3><i class="fa fa-list-alt" aria-hidden="true"></i> {{ item.nombre }}</h3>
          <hr class="sombra">
          <div  *ngFor="let caracteristica of item?.caracteristicas; let ultimo = last; let caractIndex = index" >
            <div class="row py-2">
              <div class="col-6 col-xl-2 col-lg-3 col-md-4 col-sm-4">
                 <span class="h5 pr-3 align-bottom"> {{ caracteristica?.nombre }}</span>
              </div>
              <div class="col-6 col-xl-10 col-lg-9 col-md-8 col-sm-8">
                  <button type="button" 
                          class="btn btn-outline-primary py-0 btn-edit-op" 
                          data-toggle="modal" 
                          data-target="#editOptionsModal" 
                          (click)="editOptions(itemIndex, caractIndex)" >Editar opciones</button>
              </div>
            </div>
              <input class="form-control" type="text" [value]="caracteristica.opciones[0]" readonly>
              <!-- <hr *ngIf="ultimo" class="sombra"> -->
          </div>
      </div>

      <!-- Inicio Modal -->
      <div class="modal fade bd-example-modal-lg" id="editOptionsModal" tabindex="-1" role="dialog" aria-labelledby="editOptionsModal" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Opciones de {{ _informe?.detalle?.items[this?.editItemIndex]?.caracteristicas[this?.editCaractIndex]?.nombre }}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="row"
                  *ngFor="let opcion of _informe?.detalle?.items[this?.editItemIndex]?.caracteristicas[this?.editCaractIndex]?.opciones; let opcionIndex = index">
    
                <div class="col">
                  <div class="input-group mb-3">
                    <input #o type="text" class="form-control" aria-label="Recipient's username" aria-describedby="basic-addon2" [value]="opcion">
                    <div class="input-group-append">
                      <button class="btn btn-outline-success" title="Seleccionar opción" type="button" (click)="selectOption(editItemIndex, editCaractIndex, opcionIndex, o.value)">
                        <i class="fa fa-check" aria-hidden="true"></i>
                      </button>
                    </div>
                  </div>
                </div>

                 

              </div>
              
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
          </div>
        </div>
      </div>
      <!-- Fin Modal -->
      <div class="form-group">
        <h6><label for="txtObservaciones">Observaciones</label></h6>
        <textarea id="txtObservaciones"  [(ngModel)]="_informe.observacion" name="observacion" class="form-control" placeholder="Ingrese la observacion" rows="3" required></textarea>
      </div>
      <hr>
    <button type="submit" class="btn btn-outline-success"><i class="fa fa-floppy-o" aria-hidden="true"></i> Guardar Informe</button>
    <button type="button" class="btn btn-outline-success" (click)="generatePDF(false)"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> Ver PDF</button>
    <button type="button" class="btn btn-outline-info" (click)="generatePDF(true)"><i class="fa fa-download" aria-hidden="true"></i> Descargar PDF</button>
    </form>
  </div>
</div>
