
<div class="row">
  <div class="col">
    <form (keydown.enter)="$event.preventDefault()" #content>
      <div class="row">
        <div class="col">
          <h2>{{ _informe.detalle.nombre }}</h2>
        </div>
      </div>
      <hr class="sombraL">
      <div class="form-group row">
          <div class="col-md-7 col-sm-8 col-xs-6">
              <h6><label for="txtMedicoS">Institucion</label></h6>
              <input id="txtMedicoS" [(ngModel)]="_informe.institucion" name="institucion" type="text" class="form-control" placeholder="Ingrese el nombre la institucion">
          </div>
          <div class="col-md-2 col-sm-4 col-xs-6 align-to-input">
              <label class="btn btn-outline-primary lbl-input-file">
                  Subir logo<input type="file" class="input-file" title="Seleccione el logo" (change)="getImagem($event)">
              </label>
          </div>   
          <div class="col-md-3 col-sm-12 text-center">
              <img class="img-responsive"  src="{{ _informe.logo }}"  style="width: 150px; height: 150"/>
          </div>
        </div>
      <div class="form-group">
        <h6><label for="txtPaciente">Paciente</label></h6>
        <input id="txtPaciente" [(ngModel)]="_informe.paciente" name="pacienteNombre" type="text" class="form-control" placeholder="Ingrese el nombre del paciente">
      </div>
      <div class="form-group">
        <h6><label for="txtMedicoS">Medico Solicitante</label></h6>
        <input id="txtMedicoS" [(ngModel)]="_informe.medico" name="medicoNombre" type="text" class="form-control" placeholder="Ingrese el nombre del medico solicitante">
      </div>
      <div class="form-group">
        <h6><label for="txtFecha">Fecha</label></h6>
        <input type="text" [(ngModel)]="_informe.creado" class="form-control" name="fecha" id="txtFecha">
      </div>
      
      <hr class="sombra">
      <div class="form-group" *ngFor="let item of this._informe.detalle.items; let itemIndex = index">
          <h3>{{ item.nombre }}</h3>
          <hr class="sombra">
          <div  *ngFor="let caracteristica of item.caracteristicas; let ultimo = last; let caractIndex = index" >
            <div class="row py-2">
              <div class="col-6 col-xl-2 col-lg-3 col-md-4 col-sm-4">
                 <span class="h5 pr-3 align-bottom"> {{ caracteristica.nombre }}</span>
              </div>
              <div class="col-6 col-xl-10 col-lg-9 col-md-8 col-sm-8">
                  <button type="button" 
                          class="btn btn-outline-primary py-0 btn-edit-op" 
                          data-toggle="modal" 
                          data-target="#editOptionsModal" 
                          (click)="editOptions(itemIndex, caractIndex)" >Editar opciones</button>
              </div>
            </div>
                  <select class="form-control" #o (change)="selectOption(itemIndex, caractIndex, o.value)"  name="opcion">
                    <option  *ngFor="let opcion of caracteristica.opciones; let opcionIndex = index" [value]="opcionIndex">
                      {{ opcion }}
                    </option>
                  </select>
              <!-- <hr *ngIf="ultimo" class="sombra"> -->
          </div>
      </div>

      <!-- Inicio Modal -->
      <div class="modal fade" id="editOptionsModal" tabindex="-1" role="dialog" aria-labelledby="editOptionsModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Opciones de {{ _informe.detalle?.items[this.editItemIndex]?.caracteristicas[this.editCaractIndex]?.nombre }}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-12 py-1" 
                     *ngFor="let opcion of _informe.detalle?.items[this.editItemIndex]?.caracteristicas[this.editCaractIndex]?.opciones; let opcionIndex = index">
                     <input #newOption  type="text" class="form-control" [value]="opcion" (keyup.enter)="editOption(opcionIndex,newOption.value)">
                </div>
              </div>
              
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <!-- Fin Modal -->
      <div class="form-group">
        <h6><label for="txtObservaciones">Observaciones</label></h6>
        <textarea id="txtObservaciones"  [(ngModel)]="_informe.observacion" name="observacion" class="form-control" placeholder="Ingrese la observacion" rows="3"></textarea>
      </div>
    </form>
    <hr>
    <button type="button" name="button" (click)="generatePdf()">Generar PDF</button>
  </div>
</div>
