/*body {
  background: url('https://www.abogadivorcio.com/i/wi/informes-medicos-para-solicitar-la-custodia-compartidad.1280x960.1494612128.jpeg') fixed center center;
  background-size: auto;
  font-family: Montserrat;
}

.form-login {
  padding-top: 80px;
}*/


.main-container{
  padding-top: 15px;
  padding-bottom: 20px;
}


/*Media querys responsive*/

@media (min-width: 769px) {
  .scrolly {
      overflow-y: scroll;
      max-height: 290px;
  }

  .scrolly-table{
    overflow-y: scroll;
    max-height: 500px;
  }

  .informes-cards {
    max-height: 400px;
    overflow-y: scroll;
  }

  .scrolly-items {
    overflow-y: scroll;
    min-height: 277px;
  }

  .modal-lg {
    max-width: 90% !important;
  }
}


@media (max-width: 767px) {
  .scrolly {
      overflow-y: scroll;
      max-height: 200px;
  }

  .scrolly-table{
    overflow-y: scroll;
    max-height: 450px;
  }

  .scrolly-list{
    overflow-y: scroll;
    max-height: 510px;
  }

  .informes-cards {
    max-height: 330px;
    overflow-y: scroll;
  }

  .scrolly-items {
    overflow-y: scroll;
    min-height: 150px;
  }

  .modal-dialog {
    margin: 2.5vh auto;
  }

  .modal-content {
    max-height: 95vh;
    overflow: scroll;
  }

  .modal-body {
    max-height: calc(100vh - 143px);
    overflow-y: auto; 
  }
}

@media (max-width: 575px) {
  .scrolly {
      overflow-y: scroll;
      max-height: 125px;
  }

  .scrolly-table{
    overflow-y: scroll;
    max-height: 360px;
  }

  .scrolly-list{
    overflow-y: scroll;
    max-height: 420px;
  }

  .informes-cards {
    max-height: 290px;
    overflow-y: scroll;
  }
}

.item-options{
  float: right;
}



@media screen and (max-width: 450px){
  .lbl-input-file{
    width: 100%;
  }
}

@media screen and (min-width: 556px){
  .align-to-input{
    padding-top: 34px;
  }
}

@media screen and (max-width: 574px){
  .align-to-input{
    padding-top: 7px;
  }
}




::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #9e9e9e;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #9d9d9d;
}
::-webkit-scrollbar-thumb:active {
  background: #646464;
}
::-webkit-scrollbar-track {
  background: #f9f9f9;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #d2d2d2;
}
::-webkit-scrollbar-track:active {
  background: #6f6f6f;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

hr.sombra {
	height: 2px;
	border: 0;
	box-shadow: 0 10px 10px -10px #8c8b8b inset;
}

hr.sombraL {
	height: 5px;
	border: 0;
	box-shadow: 0 10px 10px -10px #8c8b8b inset;
}

.input-file {
  width: 1px;
  overflow:hidden;
  display: none;
}

.btn-logout {
  width: 90px;
}

/*=============================callout=======================================*/
.bs-callout {
  padding: 15px;
  margin: 8px 0px;
  border: 1px solid #eee;
  border-left-width: 6px;
  border-radius: 4px;
}

.bs-callout:hover {
  cursor: pointer;
  background-color: #f1f1f1;

}

/*.bs-callout:hover .fa {
  color: #f9f9f9 !important;
}*/

*.bs-callout:empty {
 padding: 15px;
 margin: 0px;
 border: none;   
}

.bs-callout h4 {
  margin-top: 0;
  margin-bottom: 5px;
}
.bs-callout p:last-child {
  margin-bottom: 0;
}
.bs-callout code {
  border-radius: 3px;
}
.bs-callout+.bs-callout {
  margin-top: -5px;
}
.bs-callout-default {
  border-left-color: #777;
}
.bs-callout-default h4 {
  color: #777;
}
.bs-callout-primary {
  border-left-color: #428bca;
}

.inf-title{
  padding-left: 5px;
  font-size: 18px;
  font-weight: bold;
}

/*=============================callout=======================================*/
.brand{
  border-radius: 5px;
}

/*================Masonry===========*/

@media only screen and (min-width: 960px){
  .masonry{
    column-count: 2;
  }
}

.masonry { /* Masonry container */
  column-gap: 1em;
  margin: 1em 0;
  padding: 0;
}

.item { /* Masonry bricks or child elements */
  display: inline-block;
  padding: 1em;
  /*background-color: #f5f5f5;*/
  margin: 0 0 1em;
  width: 100%;
  border: 1px solid #d1d1d1;
  border-radius: 5px;
}


